<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layout/basic}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<form th:action="@{/products/{id}(id=${product.id})}" th:method="PATCH" th:object="${product}">
    <fieldset>
        <legend>Product Information</legend>
        <div>

            <div>
                <label>Name</label>
                <input placeholder="Enter the name..." th:field="*{name}" type="text">
                <snip style="color:red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"> error</snip>
            </div>
            <div>
                <label>Quantity <br> in stock</label>
                <input placeholder="Enter the quantity..." th:field="*{quantityInStock}"
                       type="text">
                <snip style="color:red" th:errors="*{quantityInStock}"
                      th:if="${#fields.hasErrors('quantityInStock')}">error
                </snip>
            </div>
        </div>
        <div>
            <div>
                <label>Unit price</label>
                <input placeholder="Enter the price..." th:field="*{unitPrice}" type="text">
                <snip style="color:red" th:errors="*{unitPrice}"
                      th:if="${#fields.hasErrors('unitPrice')}"> error
                </snip>
            </div>
        </div>
    </fieldset>

    <div>
        <div>
            <a th:href="@{/products}">
                Back
            </a>
        </div>
        <div>
            <button type="submit">
                Update
            </button>
        </div>

    </div>
</form>
</div>
</body>
</html>
