<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>New product</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<form th:method="POST" th:action="@{/products}" th:object="${product}">
    <fieldset>
        <legend>Product Information</legend>
        <div>

            <div>
                <label>Name</label>
                <input type="text" placeholder="Enter the name..." th:field="*{name}">
                <snip style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> error</snip>

            </div>
            <div>
                <label>Quantity <br> in stock</label>
                <input type="text" placeholder="Enter the quantity..."
                       th:field="*{quantityInStock}">
                <snip style="color:red" th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}">error</snip>
            </div>
        </div>
        <div>
            <div>
                <label>Unit price</label>
                <input type="text" placeholder="Enter the price..." th:field="*{unitPrice}">
                <snip style="color:red" th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}"> error</snip>
            </div>
        </div>
    </fieldset>

    <div>
        <div>
            <a th:href="@{/products}">
                Back
            </a>
        </div>
        <div>
            <button type="submit">
                Create
            </button>
        </div>

    </div>
</form>
</div>
</body>
</html>
