<!DOCTYPE html>
<html layout:decorate="~{/layout/basic}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div layout:fragment="content">
    <h1>Products</h1>

    <a th:href="@{/products/new}">
        <button style="padding:5px 8px;border-radius:4px;margin:5px;" type="button">Add new product</button>
    </a>
    <snip style="color:red;padding:5px" th:if="${dependsError} != null"
          th:text="${dependsError}">Depends error
    </snip>

    <div th:with="dir=${'ASC'}">
        <table class="zui-table">
            <thead>
            <tr>
                <th>
                    <a th:href="@{/products?sort=name,} + ${dir}">Name</a>
                </th>
                <th>
                    <a th:href="@{/products?sort=quantityInStock,} + ${dir}">
                        Quantity <br> in stock</a>
                </th>
                <th>
                    <a th:href="@{/products?sort=unitPrice,} + ${dir}">Unit price</a>
                </th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(products)}">
                <td class="text-center fw-bold" colspan="10">No products found</td>
            </tr>
            <tr th:each="product: ${products}">
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.quantityInStock}">Quantity</td>
                <td th:text="${product.unitPrice}">Price</td>
                <td align="center">
                    <a th:href="@{/products/{id}/edit(id=${product.id})}">
                        <button type="button">Edit</button>
                    </a>
                    <form th:action="@{/products/{id}(id=${product.id})}" th:method="DELETE">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<a href="/">Home</a>
<a href="/order-items/all">Items in order</a>
</body>
</html>