<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layout/basic}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div layout:fragment="content">
    <h3>Items of order # [[${orderId}]]</h3>

    <form th:action="@{/order-items/{id}(id=${orderId})}" th:method="POST" th:object="${item}">
        <fieldset>
            <div>Product name
                <select th:field="*{orderItemId.productId}">
                    <option id="prodOpt" th:each="product: ${products}" th:text="${product.name}"
                            th:value="${product.id}">
                        Product name
                    </option>
                </select>

                <div>
                    <label>Quantity</label>
                    <input placeholder="Enter the quantity..." th:field="*{quantity}" type="text">
                    <snip style="color:red" th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}"> error
                    </snip>

                </div>
            </div>
        </fieldset>

        <div>
            <button type="submit">
                Create
            </button>
        </div>


    </form>
    </tr>

    </tbody>
    </table>
</div>
</div>

</body>
</html>